<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll" verbose="3" thread-count="2" parallel="tests">

    <test name = "test1">
        <classes>
            <class name="com.practice.automation.firstTest"/>
        </classes>
    </test>


    <test name = "test2">
        <classes>
            <class name="com.practice.automation.SignUpTest"/>
        </classes>
    </test>

</suite>